MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USE_TLS=True
MAIL_USERNAME=yourgmail@gmail.com
MAIL_PASSWORD=your_google_app_password
MAIL_DEFAULT_SENDER=yourgmail@gmail.com
SECRET_KEY=your_secret_key
ADMIN_EMAIL=admin@morsevision.io
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/morsevision
